/node_modules
/public/hot
/public/storage/*
/public/data/uploaded/*
/storage/*.key
/storage/*.zip
/storage/logs/*.log
/storage/logs/*.gz
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/vendor
/.idea
/.vagrant
/nova
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
